extends base


block content
  main.main
    section.products
      .row 
        - if (notes.length > 0) 
          each note in notes
            .col-sm-3
              .card(style="width: 18rem;")
                .card-body
                  h5.card-title= note.title
                  p.card-text= note.note
                  a.btn.btn-danger(href=`/delete/${note._id}`) delete 
                  a.btn.btn-primary(href=`/update/${note.id}`) update
        - else
          .col-sm-3
            h2 There are no note

